<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Login</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	<h2>Olá, <span th:text="${email}"></span></h2>
		<div class="row">
			<div class="card col-md-3" style="width: 350px">
				<img class="card-img-top" src="https://picsum.photos/300" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Exemplo</h4>
					<p class="card-text">Some example text.</p>
					<a href="#" class="btn btn-primary">See Profile</a>
				</div>
			</div>
			<div class="card col-md-3" style="width: 350px">
				<img class="card-img-top" src="https://picsum.photos/300" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Exemplo</h4>
					<p class="card-text">Some example text.</p>
					<a href="#" class="btn btn-primary">See Profile</a>
				</div>
			</div>
			<div class="card col-md-3" style="width: 350px">
				<img class="card-img-top" src="https://picsum.photos/300" alt="Card image">
				<div class="card-body">
					<h4 class="card-title">Exemplo</h4>
					<p class="card-text">Some example text.</p>
					<a href="#" class="btn btn-primary">See Profile</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>